/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - cart
        - navbar
        - breadcrumb
        - socail
        - footer-list
        - rating
    # Images
    # Section Setting
    # Header
        - topHeader
        - nav
    # reviews
    # product-item
    # instagramNewsfeed
    # Footer
    # top-footer
    # bottom-footer
    # product-content
*/


/* General
======================= */
.box-hidden{
    display: none
}
*{
    margin: 0;
    padding: 0;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand|Slabo+27px');
body{
    font-size: 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: #f7f7f7
}
.brand {
    font-family: 'Slabo 27px', serif;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main {

}
.f-left{
    float: left;
}
.f-right{
    float: right
}
.noPadding{
    padding: 0
}
.clickable{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer
}
.custom-btn{
    background: #f1f2f4;
    color: #000;
    width: 247px;
    height: 55px;
    line-height: 55px;
    margin: 20px auto;
    border:none;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out
}
.custom-btn:hover{
    color: #f1f2f4
}
.custom-btn:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: all 0.3s ease-in-out
}
.custom-btn:hover:after{
    width: 100%;
}
.custom-btn.black{
    background: #000;
    width: auto;
    padding: 20px 35px;
    color: #fff;
    line-height: 1;
    display: inline-block
}
.custom-btn.black:hover {
    transform: scale(1.02);
    box-shadow:  0px 8px 10px 2px #0002
}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* cart */
ul.cart{
    
}
ul.cart li{
    display: inline-block;
    margin-left: 24px;
    position: relative
}
ul.cart li:After {
    content: "|";
    position: absolute;
    top: 0;
    right: -15px
}
ul.cart li:last-child:After{
    content: none
}
ul.cart li a {
    transition: all 0.3s ease-in-out;
}
ul.cart li:hover a{
    font-weight: bold
}
ul.cart li a svg{
    
}
ul.cart li a span{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    background: #fccbd4;
}
@media(max-width:767px){
    ul.cart{
        text-align: center;
        margin-top: 15px;
    }
    .topHeader .enjoy{
        text-align: center
    }
}
/* navbar */
ul.navbar{
    margin: 0;
    font-size: 21px
}
ul.navbar li{
    display: inline-block;
    padding: 0 20px;
    position: relative
}
ul.navbar li form{
    position: absolute;
    top: -16px;
    right: 28px;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
ul.navbar li form input{
    width: 230px;
    height: 55px;
    border-radius: 0;
    box-shadow: none;
}
ul.navbar li:last-child{
    float: right
}
ul.navbar li:last-child:hover form {
    width: 230px
}
ul.navbar li:last-child a:after{
    content: none
}
ul.navbar li a {
    position: relative;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
ul.navbar li a.active,
ul.navbar li a:hover{
    font-weight: bold;
}
ul.navbar li a:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background:#2d2d2d ;
    transition: all 0.3s ease-in-out;
}
ul.navbar li a.active:after,
ul.navbar li a:hover:after{
    width: 100%
}
ul.navbar li a svg{
    
}
@media(max-width:992px){
    ul.navbar li:last-child{
        padding: 0
    }
}
@media(max-width:768px){
    ul.navbar li{
        display: block;
        margin-bottom: 10px
    }
    nav{
        padding: 0 !important;
    }
    .navbar-toggle{
        position: absolute;
        top: 222px;
        right: 5px;
        font-size: 23px;
    }
    ul.navbar li:last-child{
        float: none
    }
    ul.navbar li:last-child svg{
        font-size: 0
    }
    ul.navbar li:last-child:hover form,
    ul.navbar li:last-child form{
        width: 100%;
        position: static;
        text-align: center;
        display: block
    }
    ul.navbar li:last-child form input{
        width: 100%
    }
    header .brand{
        display: inline-block;
        padding: 0 20px;
    }
}
/* breadcrumb */
.breadcrumb{
    font-weight: bold;
    text-transform: capitalize;
    background: transparent
}
.breadcrumb li {
    
}
.breadcrumb > li + li::before {
    content: ">" 
}
.breadcrumb li a{
    
}
/* socail*/
ul.socail{
    
}
ul.socail li{
    display: inline-block;
    margin: 0 11px;
    font-size: 20px
}
ul.socail li a{
    
}
ul.socail li a svg{
    
}
/* footer-list*/
ul.footer-list{
    
}
ul.footer-list li{
    display: inline-block;
    margin-right: 50px;
}
ul.footer-list li:last-child{
    margin-right: 0
}
ul.footer-list li a{
    transition: all 0.3s ease-in-out
}
ul.footer-list li a:hover{
    font-weight: bold
}
@media(max-width:1199px){
    ul.footer-list li{
        margin-right: 35px;
        margin-bottom: 20px;
    }
}
@media(max-width:767px){
    ul.footer-list{
        overflow: hidden
    }
    ul.footer-list li{
        width: 50%;
        margin: 0 0 15px;
        
    }
    
    ul.footer-list li:nth-child(even){
        float: left;
    }
    ul.footer-list li:nth-child(odd){
        float: right;
    }
}
/* rating */
ul.rating{
    display: inline-block;
    margin-left: 60px;
    font-size: 14px;
    color: #ffc103
}
ul.rating li{
    display: inline-block;
    margin: 0
}
ul.rating li span {
    color: #000
}
ul.rating li svg{
    
}

/* Images
=========================== */
img{
    display: block;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
/* Header
========================= */
header{
    color: #2d2d2d;
    background: #FFF;
}

/* topBar */
.topBar{
   
    padding: 17px;
    font-size: 18px;
    color: #FFF;
    background: #000000;
}

/*topHeader*/
.topHeader{
   
}
.topHeader .enjoy{
    
}
.topHeader .enjoy img {
    display: inline-block
}
.topHeader .enjoy p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}
.topHeader .enjoy p span {
    color: #ff365a
}

/* nav */
nav{
    padding: 40px 0
}
/*reviews
=============================== */
.wihtebox{
    background: #FFF;
    margin-bottom: 40px;
    padding: 50px 0;
    color: #000
}
.wihtebox h3 {
    text-transform: capitalize;
    font-size: 31px;
    padding-left: 40px
}
.review-item{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-top: 40px;
    margin: 0
}
.media.review-item:hover{
    background: #f1f1f1
}
.users .review-item:last-child{
    border: none
}
.review-item .review-img{
    
}
.review-item .review-img img{
    
}
.review-item .review-body{
    
}
.review-item .review-body h4{
    font-weight: bold;
    font-size: 21px
}
.review-item .review-body h5{
    font-size: 18px;
    display: inline-block
}
.review-item .review-body h5 span{
    font-size: 14px
}
.review-item .review-body p {
    margin-top: 30px;
    width: 74%
}
@media(max-width:776px){
    .review-item .review-body p{
        width: 100%
    }
}

/* product-item
==================== */
.padding-item{
    padding: 0 115px
}

.product-item{
    margin: 36px 17px;
    position: relative;
}

.product-item .product-body{
    background: #dee8e9;
    position: relative;
    height: 320px;
    margin-bottom: 36px;
    transition: all 0.3s ease-in-out;
}
.product-item.heig{
    margin: 0
}
.product-item.heig .product-body{
    height: 445px;
    margin: 0
}
.product-item.heig .product-body img{
    
}
.product-item.small{
    margin: 0
}
.product-item.small .product-body{
    height: 135px;
    margin: 0 0 20px 
}
.product-item.small .product-body img{
    width: 50px;
    padding: 10px 0 !important;
}
.product-item .product-body:hover,
.product-item .clickable:hover + .product-body{
    background: #7d8a8c
}

.product-item .product-body .product-img{

}
.product-item .product-body .product-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
@media(max-width:992px){
    .padding-item{
        padding: 0 
    } 
} 
@media(max-width:768px){
    .product-item .product-foot{
        text-align: center
    }
}


/* instagramNewsfeed
============================= */
.instagramNewsfeed{
    padding-bottom: 0
}
.instagramNewsfeed .newsfeed {
    margin-top: 35px; 
    position: relative
}
.instagramNewsfeed .newsfeed img{
    margin: auto
}
/*Footer
======================= */
footer{
    background: #fff; 
    padding-top: 50px ;
}
/*top-footer*/
.top-footer{
    border-bottom:1px solid #ededed;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 27px
}
.top-footer .brand{
    font-size: 30px
}

.payment img{
    float: right
}
@media(max-width:996px){
    .payment img{
        float: none;
        margin: auto
    }
}

/* bottom-footer */
.bottom-footer{
    margin-top: 50px;
    padding: 17px;
    font-size: 18px;
    color: #FFF;
    background: #000000;
}

/* product-content 
============================== */
.product-content{
    
}
.product-content h2{
    display: inline-block;
    vertical-align: middle
}
.product-content .price {
    display: block;
    margin-top: 20px
}
.product-content .price del{
    color: #858585;
    margin-right: 40px
}
.product-content p {
    line-height: 30px;
    margin-top: 20px
}
.product-content a {
    font-weight: bold;
    margin-left: 35px;
    text-transform: capitalize
}